@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Knewave);
@import url(https://fonts.googleapis.com/css?family=Montserrat+Alternates);

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #e12835;
    background-image: radial-gradient(#e12835 20%, #be2633 50%, rgba(0, 0, 0, .5) 100%);
    background-size: 120%;
    background-position: center;
    font-family: 'Barlow Condensed', sans-serif;
    animation: tighten-vinette ease-out 1800ms forwards;
}

.images {
    pointer-events: none;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    opacity: 0.6;
    z-index: 3;
    background-size: cover;
    background-position: center;
    background-repeat: none;
    background-image: url('https://dashandarbeitsgeschaeft.at/media/image/product/13916/lg/avengers-comic-pack.jpg');
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.logo {
    cursor: pointer;
    text-align: center;
}

.logo:hover .restart {
    opacity: 0.8;
}

.restart {
    color: #fff;
    margin-top: 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: -0.08rem;
    transition: opacity 150ms linear;
}

.marvel,
.studios {
    position: relative;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -0.2rem;
    font-size: 5rem;
    margin: 0.05rem 0.05rem 0.5rem;
    padding: 0 0.4rem;
    display: inline-block;
}

.studios {
    font-weight: 500;
    letter-spacing: -0.3rem;
    transform: translateX(-95px);
}

.marvel {
    z-index: 21;
    font-weight: 800;
    transform: translateX(95px);
}

.marvel:before {
    z-index: -1;
    content: '';
    display: block;
    background-color: #e12835;
    border: solid rgba(255, 255, 255, .2) 1px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.studios:after,
.studios:before {
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    background-color: #fff;
    display: block;
    left: 0.4rem;
    right: 0.4rem;
}

.age {
    transition: opacity 0.5s ease-in;
    opacity: 0;
    color: white;
}

.studios:before {
    top: 0;
}

.studios:after {
    bottom: 0;
}

.wrapper.run-animation {
    animation: shrink ease-out 4800ms forwards 600ms;
}

.wrapper.run-animation .marvel {
    transform: translateX(95px);
    animation: slide-out-X 750ms ease forwards;
}

.wrapper.run-animation .studios {
    transform: translateX(-95px);
    color: transparent;
    animation: slide-out-X 750ms ease forwards, show-text 300ms linear forwards 1500ms;
}

.wrapper.run-animation .studios:before {
    transform: translateY(2.9rem);
    animation: slide-out-Y 300ms ease forwards 750ms;
}

.wrapper.run-animation .studios:after {
    transform: translateY(-2.9rem);
    animation: slide-out-Y 300ms ease forwards 750ms;
}

.wrapper.run-animation .restart {
    opacity: 0;
    animation: fade-down 1200ms ease 3600ms forwards;
}

.wrapper.run-animation~.images {
    animation: flicker-images 1500ms 2 steps(1, end), fade-out 4500ms forwards;
}

@keyframes slide-out-X {
    100% {
        transform: translateX(0);
    }
}

@keyframes slide-out-Y {
    100% {
        transform: translateY(0);
    }
}

@keyframes show-text {
    100% {
        color: #fff;
    }
}

@keyframes shrink {
    100% {
        transform: scale(0.8);
    }
}

@keyframes tighten-vinette {
    100% {
        background-size: 120%;
    }
}

@keyframes fade-down {
    0% {
        transform: translateY(-2rem);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 0.5;
    }
}

@keyframes fade-out {
    100% {
        opacity: 0;
    }
}



@keyframes flicker-images {
    0% {
        background-image: url('https://i.ytimg.com/vi/lhgrYaBmplY/maxresdefault.jpg');
    }

    10% {
        background-image: url('https://cdn.marvel.com/content/1x/004tho_com_inl_05.jpg');
    }

    20% {
        background-image: url('https://www.nerdmuch.com/wp-content/uploads/2016/02/funny-deadpool.jpg');
    }

    30% {
        background-image: url('https://i.pinimg.com/736x/b4/e0/d5/b4e0d51ab9af14198f733ca582d06794--geek-things-geek-art.jpg');
    }

    40% {
        background-image: url('https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/fc/3025621-poster-p-1-ka-pow-marvel-opens-massive-comic-book-images-archive-and-api-to-fans-developers.jpg');
    }

    50% {
        background-image: url('https://www.superherohype.com/wp-content/uploads/sites/4/2023/09/Captain-America-Vol.-11-1-cover-cropped.jpg');
    }

    60% {
        background-image: url('https://www.superherohype.com/wp-content/uploads/sites/4/2022/09/avengers-war-across-time.jpg');
    }

    70% {
        background-image: url('https://comicvine.gamespot.com/a/uploads/scale_medium/12/124259/8126579-amazing_spider-man_vol_5_54_stormbreakers_variant_textless.jpg');
    }

    80% {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMFwagi_Q_bMaXTjS3kPwsIWqsKqbwz92xln3e1J7t2OnEbwfxCP0B_YPzCbjKh_p3sIQ');
    }

    90% {
        background-image: url('https://ew.com/thmb/Vh6GNnxEbycJISmWeAn7i8ivoSw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/Hawkeye-02-8163f96600d647dea0ae98c085daeb8f.jpg');
    }

    100% {
        background-image: url('https://rkuykendall.github.io/wheretostartreading/articles/black-widow.jpg');
    }
}

.comic-button {
    font-family: 'Bangers';
    transform: rotate(2deg);
    margin: 4px 15px;
    font-size: 1.3rem;
    padding: 8px;
    background: #ddd;
    border: 1px solid #222;
    width: fit-content;
    box-shadow: 3px 3px 0 #222;
    align-self: center;
}

.avengers-assemble {
    font-family: 'Bangers';
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 3rem;
    margin-top: 4rem;
    color: white;
    transition: opacity 0.5s ease-in;
    opacity: 0;
}

.avengers {
    margin: 0px;
    background-color: #e12835;
    border: solid rgba(255, 255, 255, .2) 1px;
    padding: 2px 8px;
    align-self: center;
    width: fit-content;
}

.show {
    opacity: 1;
    /* When 'show' class is added, set opacity to 1 */
}

.frame2 {
    height: 100vh;
    position: relative;
    margin: 4rem 0;
    transition: height 500ms ease;
}

.frame2.open {
    height: 100%;
}


.card {
    width: auto;
    
    height: auto;
    top: 25rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
}

.cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.card-clicked {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.card-wrapper::before,
.card-wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 15rem;
    transition: all 0.5s;
    position: absolute;
    left: 0;
}

.card-wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(to top,
            transparent 46%,
            rgba(12, 13, 19, 0.5) 68%,
            rgba(12, 13, 19) 97%);
}

.card-wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(to bottom,
            transparent 26%,
            rgba(12, 13, 19, 0.5) 48%,
            rgba(12, 13, 19) 97%);
}

.card-clicked .card-wrapper::before,
.card-wrapper::after {
    opacity: 1;
}

.card-clicked .card-wrapper::after {
    height: 250px;
}

.title {
    width: 100%;
    height: fit-content;
    transition: transform 0.5s;
    position: relative;
}

.card-clicked .title {
    transform: translate3d(0%, -20px, 100px);
    height: 8rem;
}

.character {
    width: 100%;
    height: 42vh;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
}

.card-clicked .character {
    opacity: 1;
    transform: translate3d(0%, -15%, 1000px);
}

.venue {
    transition: opacity 0.8s ease-in;
    opacity: 1;
    text-align: center;
    color: white;
    font-size: 1.2rem;
    position: relative;
    top: 27rem;
    font-family: 'Montserrat Alternates', sans-serif;
}

.frame2-body {
    background-image: url('f2.png');
}

.superhero {
    font-family: 'Knewave';
    color: #d9d013;
    font-size: 2rem;
}